//--------------------------------------------------
// mixins
//--------------------------------------------------
@mixin breakpoint($breakpoint) {
  @media screen and (min-width: $breakpoint + 1px) {
    @content;
  } 
}

@mixin breakpoint-down($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  } 
}

@mixin breakpoint-between($breakpoint_1, $breakpoint_2) {
  @media screen and (max-width: $breakpoint_2) and (min-width: $breakpoint_1 + 1px) {
    @content;
  } 
}