//--------------------------------------------------
// variables
//--------------------------------------------------
// - colours
// - fonts
// - dimensions
// - breakpoints
// - padding
// 
// components
// - topbar
//--------------------------------------------------
// colours
//--------------------------------------------------
$black: #000000;

$blue: #00a0d1;

$green: #b4c92b;

$grey-light: #f4f4f4;
$grey: #7f7f7f;
$grey-dark: #343434;

$navy-light:#A8CDEE;
$navy: #043c7b;

$primary: $navy;
$secondary: $blue;

$accent: $green;

$facebook:    #4C66A4;
$twitter:     #55ACEE;
$linkedin:    #0084BF;
$youtube:     #c4302b;

//--------------------------------------------------
// fonts
//--------------------------------------------------
$font-roboto: 'Roboto', sans-serif;

$body-font: $font-roboto;
$body-font-color: $black;

$body-font-size: rem-calc(16);

$bold: bold;

//--------------------------------------------------
// dimensions
//--------------------------------------------------
$site-width: rem-calc(960);

//--------------------------------------------------
// breakpoints
//--------------------------------------------------
$small: rem-calc(720);
$medium: $site-width;

//--------------------------------------------------
// padding
//--------------------------------------------------
$gutter-small: rem-calc(11); 
$gutter-medium: rem-calc(16);

//--------------------------------------------------
// component - topbar
//--------------------------------------------------
$topbarHeightSmall: rem-calc(66);
$topbarHeightLarge: rem-calc(86);