<section class="library__section">
  <h1>WCMC Component Library</h1>
</section>

<section class="library__section">
  <h2>Topbar</h2>
  <p>views/global/_topbar.html.erb</p>
</section>

<%= render partial: 'global/topbar.html.erb' %>

<section class="library__section">
  <h2>Footer</h2>
  <p>views/global/_footer.html.erb</p>
</section>

<%= render partial: 'global/footer.html.erb' %>