//--------------------------------------------------
// base button styles
//--------------------------------------------------
.button {
  border: none;
  border-radius: 0;
  color: $black;
  cursor: pointer;
  font-size: rem-calc(20);
  line-height: 1;
  padding: rem-calc(8 18);

  @include breakpoint($small){
    font-size: rem-calc(22);
    padding: rem-calc(12 28);
  }

//--------------------------------------------------
// button reusable styles
//--------------------------------------------------
  &--circle { border-radius: 100%; }

//--------------------------------------------------
// buttons
//--------------------------------------------------
  &--primary {
    background-color: $primary;
    padding: rem-calc(14 34);
    color: white;
    
    @include breakpoint($small){
      font-size: $body-font-size;
      padding: rem-calc(14 34);
    }
  }

  &--secondary {
    background-color: $secondary;
    color: white;
    font-weight: bold;
    padding: rem-calc(8 16);
    text-decoration: none;

    @include breakpoint($small){ padding: rem-calc(15 46); }
    
    &:hover { background-color: lighten($secondary, 5%); }  
  }
  
  &--accent {
    background-color: $accent;
    font-weight: $bold;
    text-decoration: none;
    text-transform: uppercase;

    &:hover { background-color: lighten($accent, 5%); }
  }
  
  &--plain {
    background-color: transparent;
    font-weight: 300;
    padding: rem-calc(0 10);
    text-decoration: none;
    text-transform: uppercase;
  }

//--------------------------------------------------
// buttons with icons
//--------------------------------------------------
  &--close {
    background: image-url('icons/cross-white.svg') center no-repeat;
    background-size: contain;
    padding: 0;
    width: rem-calc(18); height: rem-calc(18);

    @include breakpoint($small) { width: rem-calc(24); height: rem-calc(24); }

    &:hover { opacity: .8; }

    &-black { 
      background-image: image-url('icons/cross-black.svg'); 

      &:hover { opacity: .7; }
    }

    &-circle {
      @extend .button--circle;
      background-color: rgba($grey-light, 0.9);
      background-position: center;
      background-repeat: no-repeat;
      background-size: rem-calc(18) rem-calc(18);
      padding: 0;
      width: rem-calc(32); height: rem-calc(32);

      @include breakpoint($small) { width: rem-calc(50); height: rem-calc(50); }

      &:hover { 

        background-color: $grey-light;
        opacity: 1;
      }
    }
  }

  &--up-circle {
    @extend .button--circle;
    background-color: $accent;
    border: 0;
    padding: 0;
    width: rem-calc(70); height: rem-calc(70);

    &:before {
      background: image-url('icons/chevron-up.svg') center no-repeat;
      background-size: contain;
      content: '';
      margin: 0 auto;
      width: rem-calc(29); height: rem-calc(17);

      display: block;

      transform: translateY(-2px);
    }

    &:hover { background-color: lighten($accent, 5%); }
  }

  &--filter {
    padding-right: rem-calc(36);
    position: relative;

    @include breakpoint($small) { padding-right: rem-calc(76); }

    &:after {
      background-image: image-url('icons/filter.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      width: rem-calc(18);

      display: block;
      position: absolute;
      top: 0;
      right: rem-calc(14);
      bottom: 0;

      @include breakpoint($small) {
        width: rem-calc(27);

        right: rem-calc(46); 
      }
    }
  }

//--------------------------------------------------
// links
//--------------------------------------------------
  &--link {
    font-size: $body-font-size;
    padding: 0;
  }

  &--link--swipe {
    color: $navy;
    font-weight: $bold;
    padding-top: rem-calc(5);
    text-decoration: none;

    display: inline-block;
    position: relative;
    z-index: 1;

    &:hover {
      &:after {
        height: 100%;
      }
    }

    &:after {
      background-color: $navy-light;
      content: '';
      width: 100%; height: rem-calc(5);

      display: block;
      position: absolute;
      bottom: rem-calc(-3);
      z-index: -1;

      -webkit-transition: height .1s linear;
      -moz-transition: height .1s linear;
      -o-transition: height .1s linear;
      transition: height .1s linear; 
    }
  }

}