//--------------------------------------------------
// social - unep-wcmc.org
//--------------------------------------------------
.unep-wcmc {
  .icon {
    &--social {
      align-items: center;
      color: white;
      font-size: rem-calc(14);
      justify-content: center;
      margin: 0 0.75em;
      text-decoration: none;
      width: rem-calc(27); height: rem-calc(27);

      display: inline-flex;

      &-facebook { background-color: $facebook; }
      &-twitter { background-color: $twitter; }
      &-linkedin { background-color: $linkedin; }
      &-youtube { background-color: $youtube; }
    }
  }
}

//--------------------------------------------------
// social - post2020.unep-wcmc.org
//--------------------------------------------------
.post2020 {
  .icon {
    &--social {
      background: transparent center bottom no-repeat;
      background-size: contain;
      margin-left: rem-calc(12);
      width: rem-calc(24); height: rem-calc(24);

      display: inline-block;

      @include breakpoint($small){ width: rem-calc(32); height: rem-calc(32); }

      &:hover { opacity: .75; }

      &-facebook { background-image: image-url('icons/facebook.svg'); }
      &-email { background-image: image-url('icons/email.svg'); }
      &-twitter { background-image: image-url('icons/twitter.svg'); }
      &-linkedin { background-image: image-url('icons/linkedin.svg'); }
    }
  }
}
