<div class="library__subsection">
  <h3>Buttons from UNEP WCMC website</h3>

  <a href="" class="button button--primary">Button</a>
  <a href="" class="button button--link button--link--swipe">Button</a>
</div>

<div class="library__subsection">
  <h3>Buttons from Post 2020 timeline</h3>
  
  <a href="" class="button button--secondary">Button</a>
  <a href="" class="button button--secondary button--filter">Button</a>
  <a href="" class="button button--accent">Button</a>
  <a href="" class="button button--plain">Button</a>
  <div class="library__background">
    <button class="button button--close"></button>
  </div>
  <button class="button button--close button--close-black"></button>
  <button class="button button--close-black button--close-circle"></button>
  <button class="button button--up-circle"></button>
</div>