<title>WCMC Component Library</title>
<%= csrf_meta_tags %>

<meta content='width=device-width,initial-scale=1.0' name='viewport'>

<link href="https://fonts.googleapis.com/css?family=Roboto">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>