.library {

  &__section {
    padding: rem-calc(10);

    h1 { font-size: rem-calc(30); }

    h3 { margin: rem-calc(0 0 18 0); }
  }

    &__subsection {
      margin-bottom: rem-calc(24);

      a,
      button { vertical-align: middle; }
    }

    &__background {
      background: repeating-linear-gradient(
        -45deg,
        #efefef,
        #efefef 4px,
        #eaeaea 4px,
        #eaeaea 8px
      );
      padding: rem-calc(14);

      display: inline-block;
    }
}